h1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
}

.discover,.phone{
  text-align: center;
}

body {
  background-color: black;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

.video{
  text-align: center;
}

h2{
  color: white;
  font-size: 42px;
  font-weight: 300;
  font-family: Verdana;
}

p{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.travel {
  text-align: center;
}

h3{
  text-align: right;
  color: grey;
  font-family: Verdana;
}
